
@{
    ViewBag.Title = "editDistributor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WarehouseManagerment.Models;
@using WarehouseManagerment.Core.CSharp;
@{
    tbTaiKhoan acc = new tbTaiKhoan();
    try
    {
        acc = (tbTaiKhoan)Session["user"];
    }
    catch
    {
        <script>
            window.location.href = "../Account/Login";
        </script>
    }
    tbNhaPhanPhoi Distributor = ViewBag.Distributor;
}
<div class="myDesignTitle-0">
    <div class="myDesignTitle-1">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>QUẢN LÝ Kho</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">QLKho</a></li>
                            <li><a href="#">Nhà phân phối</a></li>
                            <li class="active">sửa</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row edit-account " style="position:inherit;" id="edit-account">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">sửa nhà phân phối</h4>
            </div>
            <form action="/Distributor/editDistributor" method="post">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="profile">
                            <div class="profile-body">
                                <input type="text" value="@Distributor.distributorId" name="distributorId" class="display-none" />
                                <div class="row">
                                    <div class="col-lg-12"><label for="inputSuccess2i" class="form-control-label">Tên nhà phân phối:</label></div>
                                    <div class="col-lg-12"><input type="text" name="distributorName" class="form-control-success form-control form-account" value="@Distributor.distributorName"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12"><label for="inputSuccess2i" class="form-control-label">Số điện thoại:</label></div>
                                    <div class="col-lg-12"><input type="text" name="distributonNumberPhone" class="form-control-success form-control form-account" value="@Distributor.distributonNumberPhone"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12"><label for="inputSuccess2i" class="form-account-label">Địa chỉ:</label></div>
                                    <div class="col-lg-4">
                                        <select data-placeholder="Chọn tỉnh" class="form-control-sm form-control form-account" id="city" onchange="changeCity();">
                                            @{
                                                <option value="" label="Chọn tỉnh"></option>
                                                foreach (var item in WarehouseManagerment.Core.CSharp.AddressCore.getCityList())
                                                {
                                                    <option value="@item.MaTinh">@item.TenTinh</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <select  data-placeholder="Chọn huyện" class="form-control-sm form-control form-account" id="district" onchange="changeDistrict()">
                                            <option value="" label="Chọn huyện"></option>
                                        </select>

                                    </div>
                                    <div class="col-lg-4">
                                        <select name="distributonTown" data-placeholder="Chọn xã" class="form-control-sm form-control form-account" id="town">
                                            <option value="" label="Chọn Xã"></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-8" style="margin-top:15px;"><input type="text" name="distributorAddress" id="address" class="form-control-success form-control form-account" value="@Distributor.distributorAddress"></div>
                                </div>

                            </div>
                            <div class="profile-footer">
                                <button class="btn btn-success btn-sm" type="submit">Sửa</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div> <!-- /.row -->
            </form>
            <div class="card-body"></div>
        </div>
    </div><!-- /# column -->
</div>
<script>
    function changeCity() {
        address.changeCity('city', 'district');
    }
    function changeDistrict() {
        address.changeDistrict('district', 'town');
    }
</script>
