
@{
    ViewBag.Title = "editIpBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WarehouseManagerment.Models
@using WarehouseManagerment.Core.CSharp
@{
    tbTaiKhoan acc = new tbTaiKhoan();
    try
    {
        acc = (tbTaiKhoan)Session["user"];
    }
    catch
    {
        <script>
                                window.location.href = "../Account/Login";
        </script>
    }
    tbPhieuNhap IpBill = ViewBag.IpBill;
}
<div class="myDesignTitle-0">
    <div class="myDesignTitle-1">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>QUẢN LÝ KHO</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">QLKho</a></li>
                            <li><a href="#">Nhập hàng</a></li>
                            <li class="active">Sửa</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animated fadeIn">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">sửa nhập hàng</h4>
            </div>
            <form method="post" action="/IpBill/editIpBill" id="formIpBill">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 ">

                        <div class="profile" style="margin-left:0px;">
                            <div class="profile-body">
                                <input type="text" class="display-none" name="ipBillId" value="@IpBill.ipBillId"/>
                                <input type="text" class="display-none" name="accountId" value="@IpBill.accountId" />
                                <input type="text" class="display-none" name="priceTotal" value="@IpBill.priceTotal" />
                                <div class="row">
                                    <div class="col-lg-4"><label for="inputSuccess2i" class="form-control-label">Nhà sản xuất:</label></div>
                                    <div class="col-lg-8">
                                        <select name="producerId" id="category-id" data-placeholder="Chọn loại hàng hóa" class="form-control-sm form-control form-account">
                                            @{
                                                <option value="" label="Chọn loại nhà sản xuất"></option>
                                                List<tbNhaSanXuat> ProducerList = ViewBag.ProducerList;
                                                foreach (var item in ProducerList)
                                                {
                                                    if (IpBill.producerId == item.producerId)
                                                    {
                                                        <option value="@item.producerId" selected>@item.producerName</option>
                                                        continue;
                                                    }
                                                    <option value="@item.producerId">@item.producerName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"><label for="inputSuccess2i" class="form-control-label">Ngày lập:</label></div>
                                    <div class="col-lg-8">
                                        <input type="text" id="whatDate" class="form-control-success form-control form-account" value="@IpBill.whatDate.GetValueOrDefault().ToString("dd/MM/yyyy")" onchange="changeDate('borrowDay')">
                                        <input type="text" name="whatDate" class="display-none" value="@IpBill.whatDate.GetValueOrDefault().ToString("MM/dd/yyyy")" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="">
                                            <div class="card-header">
                                                <strong class="card-title">Bảng hàng hóa</strong>
                                                <i class="fa fa-plus" style="float:right;" data-toggle="modal" data-target="#ProductModal"></i>
                                            </div>
                                            <div class="card-body" style="padding-left:0px;padding-right:0px;">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Tên SP</th>
                                                            <th scope="col">Số lượng</th>
                                                            <th scope="col">Đơn giá</th>
                                                            <th scope="col">Chức năng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="billDetail">
                                                        @{
                                                                int i = 0;
                                                                foreach (var item in IpBill.tbCT_PhieuNhap)
                                                                {
                                                                    i++;
                                                                <tr id="__@i"><td>@i</td><td>@item.tbHangHoa.productName</td><td><input style="width:90%;" type="number" value="@item.amount" name="amount" /></td><td><input style="width:90%;" type="number" value="@item.priceCurrent" name="priceCurrent" /><input type="text" value="@item.productId" name="productId" class="display-none" /><input type="text" value="@item.id" name="id" class="display-none" /></td><td onclick="removeMe('__@i')"><i class="fas fa-backspace function" style="color:#e74c3c;"></i></td></tr>
                                                                }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="profile-footer" style="text-align:right;">
                                <button class="btn btn-success btn-sm">Sửa</button>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
            <div class="card-body"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Chọn hàng hóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Danh sách hàng hóa</strong>
                            </div>
                            <div class="card-body">
                                <div id="bootstrap-data-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="col-sm-12">
                                        <table id="bootstrap-data-table" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 192px;">STT</th>
                                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 313px;">Tên hàng hóa</th>
                                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 110px;">Loại hàng hóa</th>
                                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 110px;">Số lượng</th>
                                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 139px;">Đơn giá</th>
                                                    <th class="sorting" tabindex="0" aria-controls="bootstrap-data-table" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 110px;">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    List<tbHangHoa> ProductList = ViewBag.ProductList;
                                                     i = 0;
                                                    foreach (var item in ProductList)
                                                    {
                                                        i++;
                                                        <tr role="row" class="even" id="_@i">
                                                            <td class="sorting_1">@i</td>
                                                            <td>@item.productName</td>
                                                            <td>@item.tbLoaiHangHoa.categoryName</td>
                                                            <td>@item.amount</td>
                                                            <td><span class="badge badge-complete">@item.price</span><span class="badge badge-complete" style="padding-bottom:0px;text-transform:none;"><sup>đ</sup></span></td>
                                                            <td style="text-align:center;"><i class="fas fa-check-circle function" style="color:#27ae60;" data-toggle="modal" data-target="#staticModal" data-dismiss="modal" onclick="selectProduct(@item.productId,'@item.productName','_@i')"></i></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function closeModal() {
        jQuery("body").removeClass("modal-open");
        setTimeout(function () { jQuery("body").css("padding-right", "0px"); }, 500);

    }
    function selectValue(Name,Id,nameValue,idValue)
    {
        closeModal();
        jQuery(Name).val(nameValue);
        jQuery(Id).val(idValue);
    }
    function changeDate(value)
    {
        var fromDate = document.getElementById(value).value.split('/');
        jQuery('input[name="' + value + '"]').val(fromDate[1] + '/' + fromDate[0] + '/' + fromDate[2]);
    }
</script>
<script>
    var index = @i;
    var totalPrice = 0,totalAmount=0;
    function selectProduct(id,name,row)
    {
        closeModal();
        index++;
        totalPrice += 10000;
        totalAmount++;
        jQuery("#billDetail").append('<tr id="__'+index+'"><td>' + index + '</td><td>' + name + '</td><td><input style="width:90%;" type="number" value="1" name="amount" /></td><td><input style="width:90%;" type="number" value="10000" name="priceCurrent" /><input type="text" value="' + id + '" name="productId" class="display-none"/></td><td onclick="removeMe(\'__'+index+'\')"><i class="fas fa-backspace function" style="color:#e74c3c;"></i></td></tr>');
    }
    function removeMe(i)
    {
        jQuery("tr").remove("#" + i);
    }
</script>

